<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/54c09d8c-0b0e-4917-9a81-4807868ba474/resourcegroups/MyPortfolio20180504101751ResourceGroup/providers/Microsoft.Web/sites/MyPortfolio20180504101751</ResourceId>
    <ResourceGroup>MyPortfolio20180504101751ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://myportfolio20180504101751.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>myportfolio20180504101751.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyPortfolio20180504101751</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MyPortfolio20180504101751</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyPortfolioDatabaseEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=myportfolioserver.database.windows.net;Initial Catalog=MyPortfolioDatabase;User ID=rrodrigueza1;Password=Akinto13;Application Name=EntityFramework" Name="Data Source=myportfolioserver.database.windows.net;Initial Catalog=MyPortfolioDatabase;User ID=rrodrigueza1;Password=Akinto13;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyPortfolio.MyPortfolioDatabaseEntities, MyPortfolio" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MyPortfolioDBConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=myportfolioserver.database.windows.net;Initial Catalog=MyPortfolioDatabase;Integrated Security=False;User ID=rrodrigueza1;Password=Akinto13;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MyPortfolioDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=myportfolioserver.database.windows.net;Initial Catalog=MyPortfolioDatabase;Integrated Security=False;User ID=rrodrigueza1;Password=Akinto13;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MyPorfolioDBContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:myportfolioserver.database.windows.net,1433;Initial Catalog=MyPortfolioDatabase;Persist Security Info=False;User ID=rrodrigueza1;Password=Akinto13;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MyPorfolioDBContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:myportfolioserver.database.windows.net,1433;Initial Catalog=MyPortfolioDatabase;Persist Security Info=False;User ID=rrodrigueza1;Password=Akinto13;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyPorfolioDBContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyPortfolioDBConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="MyPortfolioDatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=myportfolioserver.database.windows.net;Initial Catalog=MyPortfolioDatabase;User ID=rrodrigueza1;Password=Akinto13;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>