@model MyPortfolio.Models.PhotoModel
@{
    ViewBag.Title = "About Me!";
    ViewBag.Message = "I'm a fresh graduate at NAIT from Digital Media and Information Technology Program. I'm seeking for an Software Developer - Entry Level Position.";
}

<div class="w3-margin-top">
    <div class="w3-container w3-card-4 w3-white w3-margin-bottom">
        <div class="w3-container">
            <br />
            <h2>@ViewBag.Title</h2>
            <h6>@ViewBag.Message</h6>
        </div>
    </div>
    <div class="w3-container w3-card-4 w3-white w3-margin-bottom">
        <div class="w3-bar w3-teal w3-margin-top">
            <button class="w3-bar-item w3-button" onclick="openInformation('Project')">Project</button>
            <button class="w3-bar-item w3-button" onclick="openInformation('Skill')">Skills</button>
            <button class="w3-bar-item w3-button" onclick="openInformation('Resume')">Resume</button>
        </div>
        <div id="Project" class="w3-container information w3-margin-bottom w3-margin-top">
            <div class="w3-container w3-card-4 w3-white">
                <h2>Food Satisfaction Online Survey System - bHS Capstone Project</h2>
                <section>
                    <p>FSOSS is a C#/ASP.NET Web Forms online survey application for getting food satisfaction and services feedback. An Administrator section allows for viewing or managing survey and account data, and recursion for generating survey access words from a PostgreSQL database.</p>
                    <a style="color:teal" href="https://github.com/jjoseph97/FSOSS">View On Github</a>
                </section>
            </div>
            <br />
            <div class="w3-container w3-card-4 w3-white">
                <h2>MyPorfolio - Personnal Porfolio</h2>
                <section>
                    <p>My own personal website.</p>
                    <a style="color:teal" href="https://github.com/rrodrigueza1/MyPortfolio">View On Github</a>
                </section>
            </div>
        </div>
        <div id="Skill" class="w3-container information" style="display:none">
            <br />
            <h4>ASP.NET Webforms</h4>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
            </div>
            <p>Knowledgeable in using webforms </p>
            <div class="w3-row-padding w3-margin-top">
                @{int counter = 1;}
                @foreach (var image in Model.ImageFilePath)
                {
                    <div class="mySlides" style="text-align:center">
                        <h5><span style="color:teal; font-weight:100">FSOSS Project - bHS Proejct</span> </h5>
                        <div class="w3-container w3-card-4 w3-white w3-margin-bottom">
                            <div class="w3-container">

                                <div class="numbertext" style="text-align:left; font-weight:bolder">@counter / @Model.ImageFilePath.Count()</div>
                                <img src="@Url.Content(image)" style="width:100%; height:400px">
                            </div>

                        </div>
                    </div>

                    counter++;
                }
                <div clas="row" style="text-align:center">
                    <a class="prev" style="color:teal" onclick="plusSlides(-1)">Prev</a>
                    <a class="next" style="color:teal" onclick="plusSlides(1)">Next</a>
                </div>
            </div>
        </div>
        <div id="Resume" class="w3-container information" style="display:none">
            <br />
            <div style="border:solid">
                <embed src="~/Documents/Resume.pdf" type="application/pdf" style="width:100%; height:1000px" />
            </div>
            <br />
        </div>

    </div>
</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex - 1].style.display = "block";

    }
    function openInformation(info) {
        var i;
        var x = document.getElementsByClassName("information");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(info).style.display = "block";
    }
</script>

