
@{
    ViewBag.Title = "Admin";
}

<h2>Hello Renzelle!</h2>

<div class="w3-container" style="text-align:center">
    <input type="button" style="width:100%" class="w3-btn w3-hover-white w3-teal w3-round-large" value="Logout" onclick="location.href='@Url.Action("LogoutAction", "Home")'" />
</div>

